/* Universal-Selectors */

* {
    box-sizing:border-box;
}
html {
    font-size: 1rem;
    line-height: 1.4;
    color: #dedede;
    box-sizing: border-box;
    background-color: black;
}

/* Element-Selectors */
body {
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
}

path {
    fill: #dedede;
}

polygon {
    fill: #dedede;
}

.logo {
    width: 20rem;
    height: auto;
    padding-top: 10rem;
    padding-bottom: 2.5rem;
    margin: auto;
    opacity: 0.8;
    position: relative;
}
.st0 {
    fill: none;
    stroke:#44f4e2;
    stroke-width: 6;
    stroke-miterlimit: 10;

}

/* Fangs Effect */
.fangs {
    opacity: 0;
}

.button {
    width: 15rem;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #dedede;
    opacity: 0.8;
    margin: auto;
    display: block;
    text-decoration: none;
}

/* Media Queries */
@media only screen and (min-width: 480px) {
    body {
        text-align: center;
        width: auto;
        height: auto;
        margin: auto;
    }
    .logo {
        width: 25rem;
        height: auto;
    }

    .button {
        font-size: 1.25rem;
        width: 30rem;
}

@media only screen and (min-width: 778px),
        only screen and (min-width:700px) and (orientation: landscape) {
    .logo {
        width: 35rem;
        height: auto;
        padding-bottom: 5rem;
    }
    .button {
        font-size: 1.5rem;
}

@media only screen and (min-width:1140px) {

}